/*  all my CSS here */
html {
  position: relative; }

body {
  margin: 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  color: #5a5a5a;
  min-height: 100%;
  position: relative; }
  body hr {
    margin: 1em 0 0.5em 0;
    border: 0; }
  body td {
    padding-right: 1em; }
  body th {
    text-align: left;
    padding-bottom: 0.25em; }
  body p, body ul, body ol, body em, body a, body table {
    font-size: 1em; }
  body details p, body details ul, body details ol, body details em {
    margin: 0.5em 0; }

@media only screen and (min-width: 490px) {
  body details p, body details ul, body details ol, body details em {
    font-size: 1em; } }
  body summary {
    font-weight: 200;
    color: white;
    padding: 5px 25px 5px 1em;
    margin-bottom: 1em;
    background-color: #373737;
    width: 40em; }
    body summary span {
      font-family: 'Oswald', sans-serif;
      font-size: 1.8em; }

@media only screen and (max-width: 489px) {
  body summary {
    width: 90%; }
    body summary span {
      font-size: 1.4em; } }
  body a.button {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    padding: 5px 7px;
    text-decoration: none; }
  body a.button:hover, body a.button:focus {
    padding: 3px 5px; }

body.notes header {
  background-color: #373737; }

body.notes a, body.notes h1, body.notes h2, body.notes h3 {
  color: #373737; }

body.notes a:hover, body.notes a:focus {
  color: #5a5a5a; }

body.notes a.button {
  background-color: #373737;
  color: white;
  font-family: 'Oswald', sans-serif; }

body.notes a.button:hover, body.notes a.button:focus {
  color: #373737;
  background-color: #ffffff;
  border: solid 2px #373737; }

body.notes hr {
  border-top: 1px solid #373737; }

body.notes a.red {
  color: #C30918;
  font-weight: bold; }

body.notes h2 {
  color: white;
  background-color: #373737;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 2em;
  padding-left: 0.4em; }

@media only screen and (max-width: 489px) {
  body.notes h2 {
    width: 100%; } }

body.notes h3 {
  color: black;
  background-color: #e3e3e3;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  padding-left: 0.4em; }

@media only screen and (max-width: 489px) {
  body.notes h3 {
    width: 100%;
    font-size: 1.2rem; } }

body.better {
  background-color: #2e2e2e; }
  body.better p, body.better ul, body.better li, body.better ol, body.better span {
    color: #d0d0d0;
    font-weight: 300;
    font-size: 1.2rem; }
  body.better strong {
    font-weight: 400; }
  body.better header {
    background-color: black; }
  body.better nav {
    background-color: #d0d0d0;
    border-bottom: solid 4px #d0d0d0; }
    body.better nav a {
      color: black;
      font-weight: 400; }
    body.better nav a:hover, body.better nav a:focus {
      border-bottom: solid 4px #5c7829;
      color: #5c7829; }
    body.better nav a.on-the-page {
      background-color: #793;
      border-bottom: solid 4px #793;
      color: black; }
    body.better nav a.on-the-page:hover, body.better nav a.on-the-page :focus {
      color: black; }
  body.better a {
    color: #96a873;
    font-weight: 400; }
  body.better a:hover, body.better a:focus {
    color: #d0d0d0; }
  body.better a.button {
    background-color: #aaa;
    color: black;
    font-family: 'Oswald', sans-serif; }
  body.better a.button:hover, body.better a.button:focus {
    background-color: #d0d0d0;
    border: solid 2px #d0d0d0;
    color: black; }
  body.better hr {
    border-top: 1px solid #793; }
  body.better summary {
    background-color: #a63838;
    color: black; }
    body.better summary span {
      color: black;
      font-size: 1.8em;
      font-weight: 700; }

@media only screen and (max-width: 489px) {
  body.better summary {
    width: 90%; }
    body.better summary span {
      font-size: 1.4em; } }
  body.better h1 span {
    color: black;
    background-color: #b7b327;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    padding: 0.2em 1em;
    font-size: 1em;
    font-weight: 700; }

@media only screen and (max-width: 489px) {
  body.better h1 span {
    padding: 0.2em 0.5em;
    font-size: 1.4em; } }
  body.better h2 {
    color: black;
    background-color: #5c7829;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 2em;
    padding-left: 0.4em; }

@media only screen and (max-width: 489px) {
  body.better h2 {
    width: 100%;
    font-size: 1.4rem; } }
  body.better h3 {
    color: black;
    background-color: #d0d0d0;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    padding-left: 0.4em; }

@media only screen and (max-width: 489px) {
  body.better h3 {
    width: 100%;
    font-size: 1.2rem; } }
  body.better h4 {
    color: black;
    background-color: #b7b327;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    padding-left: 0.4em; }

@media only screen and (max-width: 489px) {
  body.better h4 {
    width: 100%;
    font-size: 1rem; } }
  body.better footer {
    background-color: #5a5a5a; }
  body.better .lead {
    padding-top: 2em;
    font-weight: 400;
    font-size: 1.3em;
    color: #a63838; }

body.gaelic details {
  margin-top: 30px; }

body.gaelic summary {
  font-weight: 700;
  font-size: 20px;
  color: #0064bb;
  padding: 5px 25px 5px 1em;
  margin-bottom: 1em;
  background-color: white;
  width: 30em; }

@media only screen and (max-width: 489px) {
  body.gaelic summary {
    width: 90%;
    font-size: 18px; } }

body.gaelic header {
  background-color: #373737; }

body.gaelic a, body.gaelic h1, body.gaelic h2, body.gaelic h3 {
  color: #0064bb; }

body.gaelic a:hover, body.gaelic a:focus {
  color: #5a5a5a; }

body.gaelic a.button {
  background-color: #0064bb;
  color: white;
  font-family: 'Oswald', sans-serif; }

body.gaelic a.button:hover, body.gaelic a.button:focus {
  color: #0064bb;
  background-color: #ffffff;
  border: solid 2px #0064bb; }

body.gaelic hr {
  border-top: 1px solid #0064bb; }

p {
  padding-top: 0;
  padding-bottom: 0;
  text-align: justify;
  line-height: 1.5;
  font-weight: 400; }

.lead {
  padding-top: 2em;
  font-weight: bold;
  font-size: 18px; }
  .lead em {
    font-size: 18px;
    font-weight: 500; }

.red {
  color: #d4351c;
  font-weight: bold; }

span.lou {
  color: #fb5b5f !important; }

span.lou-y {
  color: #fdd73d !important; }

span.lou-g {
  color: #01b299 !important; }

span.lou, span.lou-y, span.lou-g {
  background-color: #1a1a1a;
  padding: 3px 5px;
  margin: 2px auto; }

.code {
  background-color: #eeeeee;
  padding: 5px 0;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  color: black;
  font-size: 14px;
  line-height: 1.5; }

/* ----------------------------------------------  Banner  ---------------------------------------------- */
header {
  position: fixed;
  z-index: 1;
  /* so the body content scrolls under the sticky banner + navbar */
  top: 0;
  height: 50px;
  width: 100%; }
  header div {
    border-top: 12px solid #0000; }

/* ----------------------------------------------  Navbar  ---------------------------------------------- */
nav {
  position: fixed;
  z-index: 1;
  /* so the body content scrolls under the sticky banner + navbar */
  width: 100%;
  top: 50px;
  height: 40px;
  background-color: #e3e3e3;
  border-bottom: solid 4px #e3e3e3; }
  nav a {
    float: left;
    display: block;
    text-align: center;
    color: #373737;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    height: 1em;
    font-size: 1em;
    padding: 12px 7px;
    /* for bigger screens */ }

@media only screen and (min-width: 362px) {
  nav a {
    padding: 12px 10px; } }

@media only screen and (min-width: 455px) {
  nav a {
    font-size: 18px;
    height: 20px;
    padding: 10px 20px; } }

@media only screen and (min-width: 600px) {
  nav a {
    font-size: 20px;
    height: 20px;
    padding: 10px 30px; } }
  nav a:hover, nav a:focus {
    border-bottom: solid 4px #373737;
    color: #000000; }
  nav a.on-the-page {
    background-color: #373737;
    border-bottom: solid 4px #373737;
    color: #e3e3e3; }
  nav a.on-the-page:hover, nav a.on-the-page :focus {
    color: #fff; }

/* ----------------------------------------------  Body of a page  ---------------------------------------------- */
main {
  position: relative;
  margin-top: 91px;
  /* size of banner  + navbar */
  margin-bottom: 40px;
  /* to leave some room above the footer */
  padding-left: 30px;
  padding-right: 30px; }
  main p, main h1, main h2, main h3, main ul, main ol, main details, main hr, main div, main blockquote {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    text-align: left; }
  main h1 {
    font-size: 1.8em;
    padding-top: 2em;
    font-family: 'Oswald', sans-serif;
    font-weight: 900; }

@media only screen and (min-width: 490px) {
  main h1 {
    font-size: 2.5em; } }
  main h2, main h3 {
    font-size: 18px;
    padding: 0.4em 0 0.2em 0; }

@media only screen and (min-width: 490px) {
  main h2, main h3 {
    font-size: 20px; } }
  main ul, main ol {
    line-height: 1.5; }
  main .icon {
    vertical-align: top;
    height: 40px;
    padding: 5px 10px 5px 0; }
  main ::selection {
    background: #cccccc;
    color: #1a1a1a; }

/* for details pattern for IE  from GOV.UK */
details {
  display: block;
  clear: both;
  border-left-width: 5px; }

details summary {
  cursor: pointer;
  position: relative;
  margin-bottom: 0.26316em; }

details .arrow {
  margin-right: .35em;
  font-style: normal; }

/* hacks for the details patterns: https://www.ryadel.com/en/css3-media-query-target-only-ie-ie6-ie11-firefox-chrome-safari-edge/#Microsoft_Edge */
/*   IE 10 and above */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  details {
    margin-top: 20px;
    margin-bottom: 20px; }
  summary {
    width: 17em; } }

@media only screen and (-ms-high-contrast: active) and (max-width: 489px), only screen and (-ms-high-contrast: none) and (max-width: 489px) {
  summary {
    width: 90%; } }

/* for Edge */
@supports (-ms-ime-align: auto) {
  details {
    margin-top: 20px;
    margin-bottom: 20px; }
  summary {
    width: 17em; }
  @media only screen and (max-width: 489px) {
    summary {
      width: 90%; } } }

blockquote {
  background-color: #f3f3f3;
  padding: 2em; }

/* ----------------------------------------------  Footer  ---------------------------------------------- */
footer {
  height: 30px;
  padding: 10px;
  background-color: #373737;
  color: #ffffff; }

@media only screen and (min-width: 490px) {
  footer {
    padding: 10px 0 10px 20px; } }
  footer .icon {
    height: 27px;
    width: 27px; }

@media only screen and (min-width: 490px) {
  footer .icon {
    height: 30px;
    width: 30px; } }
  footer a {
    padding: 0 3px;
    font-weight: 500;
    text-decoration: none; }

@media only screen and (min-width: 490px) {
  footer {
    padding: 10px 0 10px 40px; } }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

/* ----------------------------------------------  Helpers  ---------------------------------------------- */
.img-mobile-screen {
  height: 400px;
  padding-right: 40px; }

.img-one-tenth-width {
  vertical-align: top;
  width: 10%; }

@media only screen and (max-width: 489px) {
  .img-one-tenth-width {
    width: 100%; } }

.img-one-fifth-width {
  width: 20%; }

@media only screen and (max-width: 489px) {
  .img-one-fifth-width {
    width: 100%; } }

.img-one-quarter-width {
  vertical-align: top;
  width: 24%; }

@media only screen and (max-width: 489px) {
  .img-one-quarter-width {
    width: 100%; } }

.img-one-third-width {
  vertical-align: top;
  width: 32%; }

@media only screen and (max-width: 489px) {
  .img-one-third-width {
    width: 100%; } }

.img-two-fifths-width {
  vertical-align: top;
  width: 40%; }

@media only screen and (max-width: 489px) {
  .img-two-fifths-width {
    width: 100%; } }

.img-half-width {
  vertical-align: top;
  width: 49%; }

@media only screen and (max-width: 489px) {
  .img-half-width {
    width: 100%; } }

.img-two-thirds-width {
  vertical-align: top;
  width: 65%; }

@media only screen and (max-width: 489px) {
  .img-two-thirds-width {
    width: 100%; } }

.img-three-quarters-width {
  vertical-align: top;
  width: 74%; }

@media only screen and (max-width: 489px) {
  .img-three-quarters-width {
    width: 100%; } }

.img-full-width {
  vertical-align: top;
  width: 100%; }

@media only screen and (max-width: 550px) {
  iframe, video {
    width: 100%; } }

.warning {
  color: #ffffff;
  background-color: #C30918;
  padding: 2px 4px;
  font-weight: 400;
  margin-right: 8px;
  text-transform: uppercase; }

.margin-top-1 {
  margin-top: 1em; }

.margin-top-2 {
  margin-top: 2em; }

a.tag {
  padding: 0.2em 0.4em;
  margin: 0.2em;
  font-size: 1.2em;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  color: #1a1a1a;
  text-decoration: none; }

a.tag:hover, a.tag:focus, a.tag:link, a.tag:active, a.tag:visited {
  color: #1a1a1a; }

a.tag.yellow {
  background-color: #b7b327; }

a.tag.red {
  background-color: #C30918; }

a.tag.green {
  background-color: #793; }

a.tag.conf {
  background-color: #bb4092; }

a.tag.bsl {
  background-color: #dddd; }

  a.tag.white {
    background-color: #999; }

a.tag.books {
  background-color: #935300; }

a.tag.cyf {
  background-color: #C30918; }

a.tag.gaelic {
  background-color: #0064bb;
  color: white; }
