/*  all my CSS here */
$notes: #373737;
$notes-inverted: #e3e3e3;
$gaelic: #0064bb; // saltire
$better: #e3e3e3;
$better-bg: #2e2e2e;
$primary: #793; 
$base1: #5c7829; 
$secondary: #f33;
$base2: #a63838; // #c33;
$ternary:#dcd427;
$base3: #b7b327 ;
$alternative: #0092cc;
$base4: #087099;
$text-better: #d0d0d0; //#f0f0f0;
$link-better: #96a873 ;// #969696;


@font-face {
    font-family: "OpenDyslexic";
    font-weight: 400;
    src: url("../fonts/OpenDyslexic-Regular.otf");
  }

html{
    position: relative;
}
body {
    margin: 0;
    /* font-family:  nta, Roboto,Helvetica,Arial,sans-serif; Roboto Condensed for titles  - sinon OpenDyslexic when I have the option */
    font-family:  Roboto,Helvetica,Arial,sans-serif; 
    color: #5a5a5a; 
    min-height: 100%;

    position: relative;
    hr {
        margin: 1em 0 0.5em 0;
        border:0;
    } 
    td {
        padding-right: 1em;
    }
    th {
        text-align: left;
        padding-bottom: 0.25em;
    }
    p, ul, ol, em, a, table {
        font-size: 1em;
    }
    details  {
        p, ul, ol, em {
            margin: 0.5em 0;
            @media only screen and (min-width: 490px) { 
                font-size: 1em;
            }
        }  
    }
    summary{
        font-weight: 200;
        color: white;
        padding: 5px 25px 5px 1em;
        margin-bottom: 1em;
        background-color:$notes;
        width: 40em;
        span {
            font-family: 'Londrina Solid', sans-serif;
            font-size: 1.8em;
        }
        @media only screen and (max-width: 489px) { 
            width: 90%;
            span {
                font-size: 1.4em;
            }   
         }
    }
    a.button {
        text-transform: uppercase;
        font-family: 'Londrina Solid', sans-serif;
        padding: 5px 7px;
        text-decoration: none;
    }
    a.button:hover, a.button:focus {
        padding: 3px 5px;
    
    }
}
body.notes {
    header {
        background-color: $notes;
    } 
    a, h1, h2, h3 {
        color: $notes;
    }
    a:hover, a:focus {
        color: #5a5a5a;
    }
    a.button {
        background-color: $notes;
        color: white;
        font-family: 'Londrina Solid', sans-serif;
    }
    a.button:hover, a.button:focus {
        color: $notes;
        background-color: #ffffff;
        border: solid 2px $notes;
    }
    hr {
        border-top: 1px solid $notes;
    } 
    a.red {
        color : #C30918 ;
        font-weight: bold;
    }
//    summary.plain {
//        color: $notes;
 //       width: 20em;
 //       padding: 0 25px 0 1em;
//        margin-bottom: 1em;
//        background-color:white;
 //   }
    h2 {
        color: white;
        background-color: $notes;
        font-family: 'Londrina Solid', sans-serif;
        font-weight: 300;
        font-size: 2em;
        padding-left: 0.4em;
        @media only screen and (max-width: 489px) { 
        width: 100%;
         }
    }
    h3 {
        color: black;
        background-color: $notes-inverted ;
        font-family: 'Londrina Solid', sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        padding-left: 0.4em;
        @media only screen and (max-width: 489px) { 
        width: 100%;
        font-size: 1.2rem;
         }
    }

}
body.better {
    background-color: $better-bg;
    p , ul, li, ol, span {
        color: $text-better;
        font-weight: 300;
        font-size:1.2rem;
    }
    strong {
        font-weight:400;
    }
    header {
        background-color: black;
    }
    nav {
        background-color: $text-better; //#aaa;    
        border-bottom: solid 4px $text-better; //#aaa ;
        a {
            color: black;
            font-weight: 300;
        }
        a:hover, a:focus {
            border-bottom: solid 4px $base1;
            color: $base1;
        }
        a.on-the-page  {
            background-color: $primary;
            border-bottom: solid 4px $primary;
            color: black;
        }
        a.on-the-page:hover,  a.on-the-page :focus {
            color: black;
        }
    }
    a{
        color: $link-better;
        font-weight: 400;
    }
    a:hover, a:focus {
        color: $text-better;
    }
    a.button {
        background-color: #aaa;
        color: black;
        font-family: 'Londrina Solid', sans-serif;
    }
    a.button:hover, a.button:focus {
        background-color: $text-better;
        border: solid 2px $text-better;
        color: black;
    }
    hr {
        border-top: 1px solid $primary;
    } 
    summary{
        background-color: $base2;
        color: black;
        span {
            color: black;
            font-size: 1.8em;
            font-weight: 400;
        }
        @media only screen and (max-width: 489px) { 
            width: 90%;
            span {
                font-size: 1.4em;
            }   
         }
    }
    h1 {
        span {
            color: black;
            background-color: $base3 ; //#793; 
            font-family: 'Londrina Solid', sans-serif;
            font-weight: 900;
            padding:0.2em 1em; 
            font-size: 1em;
            font-weight: 600;
            @media only screen and (max-width: 489px) { 
                padding: 0.2em 0.5em;
                font-size: 1.4em;
             }
        }
    }
    h2 {
        color: black;
        background-color: $base1;
        font-family: 'Londrina Solid', sans-serif;
        font-weight: 400;
        font-size: 2em;
        padding-left: 0.4em;
        @media only screen and (max-width: 489px) { 
            width: 100%;
            font-size: 1.4rem;
         }
    }
    h3 {
        color: black;
        background-color: $text-better;
        font-family: 'Londrina Solid', sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        padding-left: 0.4em;
        @media only screen and (max-width: 489px) { 
            width: 100%;
            font-size: 1.2rem;
         }
    }
    footer {
        background-color: #5a5a5a;
    }
    .lead {
        padding-top: 2em;
        font-weight: 400;
        font-size: 1.3em;
        color: $base2;

    }
}
body.gaelic{
    details {
        margin-top:30px;
    }
    summary{
        font-weight: 700;
        font-size: 20px;
        color: $gaelic;
        padding: 5px 25px 5px 1em;
        margin-bottom: 1em;
        background-color:white;
        width: 30em;
        @media only screen and (max-width: 489px) { 
            width: 90%;
            font-size: 18px;
        }
    }
    header {
        background-color: $notes;
    } 
    a, h1, h2, h3 {
        color: $gaelic;
    }
    a:hover, a:focus {
        color: #5a5a5a;
    }
    a.button {
        background-color: $gaelic;
        color: white;
        font-family: 'Londrina Solid', sans-serif;
    }
    a.button:hover, a.button:focus {
        color: $gaelic;
        background-color: #ffffff;
        border: solid 2px $gaelic;
    }
    hr {
        border-top: 1px solid $gaelic;
    } 
}
p {
    padding-top: 0;
    padding-bottom: 0;
    text-align: justify;
    line-height: 1.5;
    font-weight: 400;
}

.lead {
    padding-top: 2em;
    font-weight: bold;
    font-size: 18px;
    em {
        font-size: 18px;
        font-weight: 500;
    }
}
.red { 
color: #d4351c;
font-weight: bold;
}

span.lou {
    color: #fb5b5f !important;    
}
span.lou-y {
    color: #fdd73d !important;    
}
span.lou-g {
    color: #01b299 !important;    
}
span.lou, span.lou-y, span.lou-g {
    background-color: #1a1a1a;
    padding: 3px 5px;
    margin: 2px auto;
}

.code {
    background-color: #eeeeee;
    padding: 5px 0;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    color: black;
    font-size: 14px;
    line-height: 1.5;
    ;
}

/* ----------------------------------------------  Banner  ---------------------------------------------- */

header {
    position: fixed;
    z-index: 1 ; /* so the body content scrolls under the sticky banner + navbar */
    top: 0;
    height: 50px;
    width: 100%;
    div {
        border-top: 12px solid #0000;
    }
}

/* ----------------------------------------------  Navbar  ---------------------------------------------- */

nav {
    position: fixed;
    z-index: 1 ; /* so the body content scrolls under the sticky banner + navbar */
    width: 100%;
    top: 50px;
    height: 40px;
    background-color: $notes-inverted ;
    border-bottom: solid 4px $notes-inverted ;
    a {
        float: left;
        display: block;
        text-align: center;
        color: $notes;
        font-weight: 300 ;
        font-family: 'Londrina Solid', sans-serif;
        text-decoration: none;
        height: 1em;
        font-size: 1em;
        padding: 12px 10px;
        /* for bigger screens */
        @media only screen and (min-width: 455px) { 
            font-size: 18px;
            height: 20px ;
            padding: 10px 20px;
        }
         @media only screen and (min-width: 600px) { 
             font-size: 20px;
             height: 20px ;
             padding: 10px 30px;
         }
    }
    a:hover, a:focus {
        border-bottom: solid 4px $notes;
        color: #000000;
    }
    a.on-the-page  {
        background-color: $notes;
        border-bottom: solid 4px $notes;
        color: $notes-inverted;
    }
    a.on-the-page:hover,  a.on-the-page :focus {
        color: #fff;
    }
}

/* ----------------------------------------------  Body of a page  ---------------------------------------------- */

main {
    position: relative;
    margin-top: 91px; /* size of banner  + navbar */
    margin-bottom: 40px; /* to leave some room above the footer */
    padding-left: 30px;
    padding-right: 30px;

   // this is to avoid the line of text to be too long to read on big screens. Max 1200px (as it's for me) and same white space on both side of it
    p, h1, h2, h3, ul, ol, details, hr, div, blockquote{
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        // avoid difference of spacing between words while reading which can be a strain on the eye
        text-align: left;
    }

    h1 {
        font-size: 1.8em;
        padding-top: 2em;
        font-family: 'Londrina Solid', sans-serif;
        font-weight: 900;
        @media only screen and (min-width: 490px) {
            font-size: 2.5em;
        }
    }
    h2, h3 { // h3 is the same a h2 - but only used in UX where h2 is different
        font-size: 18px;
        padding: 0.4em 0 0.2em 0;
        @media only screen and (min-width: 490px) {
            font-size: 20px;
        }
    }
    ul, ol {
        line-height: 1.5;
    }

    .icon {
        vertical-align: top;
        height: 40px;
        padding: 5px 10px 5px 0;
    }
    ::selection {
        background: #cccccc;
        color: #1a1a1a;
    }
}


/* for details pattern for IE  from GOV.UK */

details {
    display: block;
    clear: both;
    border-left-width: 5px;
  }

  details summary {
    //display: inline-block;
    cursor: pointer;
    position: relative;
    margin-bottom: 0.26316em;
  }

  details .arrow {
    margin-right: .35em;
    font-style: normal;
  }
/* hacks for the details patterns: https://www.ryadel.com/en/css3-media-query-target-only-ie-ie6-ie11-firefox-chrome-safari-edge/#Microsoft_Edge */
/*   IE 10 and above */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    details {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    summary {
        width: 17em;
        @media only screen and (max-width: 489px) { 
            width: 90%;
         }
    }
 }
/* for Edge */
@supports (-ms-ime-align:auto) {
    details {
            margin-top: 20px;
            margin-bottom: 20px;
          
    }
    summary {
        width: 17em;
        @media only screen and (max-width: 489px) { 
            width: 90%;
         }
    }
}

blockquote {
    background-color: #f3f3f3;
    padding: 2em;
}
/* ----------------------------------------------  Footer  ---------------------------------------------- */

footer {
    height: 30px;
    padding: 10px;
    background-color: $notes;
    color: #ffffff;
    @media only screen and (min-width: 490px) {
        padding: 10px 0 10px 20px;
    } 
    

    .icon {
        height: 27px;
        width: 27px;
        @media only screen and (min-width: 490px) {
            height: 30px;
            width: 30px;
        } 
    }
    a {
        padding: 0 3px;
        font-weight: 500;
        text-decoration: none;
    }
    @media only screen and (min-width: 490px) {
        padding: 10px 0 10px 40px;
    }
}

.clearfix::after { // to avoid element with to-right to overflow outside a container
    content: "";
    clear: both;
    display: table;
  }

/* ----------------------------------------------  Helpers  ---------------------------------------------- */

.img-mobile-screen {
    height: 400px;
    padding-right: 40px;
}
.img-one-tenth-width {
    vertical-align: top;
    width: 10%;
    @media only screen and (max-width: 489px) { 
        width: 100%;
    }
}
.img-one-fifth-width {
    //vertical-align: top;
    width: 20%;
    @media only screen and (max-width: 489px) { 
        width: 100%;
    }
}

.img-one-quarter-width {
    vertical-align: top;
    width: 24%;
    @media only screen and (max-width: 489px) { 
        width: 100%;
    }
}
.img-one-third-width {
    vertical-align: top;
    width: 32%;
    @media only screen and (max-width: 489px) { 
        width: 100%;
    }
}
.img-two-fifths-width {
    vertical-align: top;
    width: 40%;
    @media only screen and (max-width: 489px) { 
        width: 100%;
    }
}

.img-half-width {
    vertical-align: top;
    width: 49%;
    @media only screen and (max-width: 489px) { 
        width: 100%;
    }
}
.img-two-thirds-width {
    vertical-align: top;
    width: 65%;
    @media only screen and (max-width: 489px) { 
        width: 100%;
    }
}
.img-three-quarters-width {
    vertical-align: top;
    width: 74%;
    @media only screen and (max-width: 489px) { 
        width: 100%;
    }
}
.img-full-width {
    vertical-align: top;
    width: 100%;
}

iframe, video {
    @media only screen and (max-width: 550px) {
        width: 100%;
    }
}

.warning  {
    color : #ffffff;
    background-color: #C30918;
    padding: 2px 4px;
    font-weight: 400;
    margin-right: 8px;
    text-transform: uppercase;
}

.margin-top-1 {
    margin-top: 1em;
}
.margin-top-2 {
    margin-top: 2em;
}

a.tag {
    padding: 0.2em 0.4em;
    margin: 0.2em;
    font-size: 1.2em;
    font-weight: 300;
    font-family: 'Londrina Solid', sans-serif;
    color: #1a1a1a;
    text-decoration: none;
}
a.tag:hover, a.tag:focus, a.tag:link, a.tag:active, a.tag:visited {
    color: #1a1a1a;
}
a.tag.yellow {
    background-color: $base3;
}
a.tag.red {
    background-color: #C30918;
}
a.tag.green {
    background-color: $primary;
}
a.tag.conf {
    background-color: #bb4092;
}
a.tag.bsl {
    background-color: #dddd;
}
a.tag.books {
    background-color: #935300 ;
}
a.tag.cyf {
    background-color: #C30918;
}
a.tag.gaelic {
    background-color: $gaelic ;
    color: white;
}