/*  all my CSS here */
$home-color: #373737;
$ux-color: #800080 ;
$dev-color: #17797c; // was #06609c;
$a11y-color: #218341; 
$tech-color: #394874 ;  // was  #941100 ; 
$other-color: #2509c5;
$ur-color:  #935300 ;
$con-color:  #614397 ;
$css-color: #440e4c;
$js-color: #0f4c0e;
$sd-color: #bb4092;

@font-face {
    font-family: "OpenDyslexic";
    font-weight: 400;
    src: url("../fonts/OpenDyslexic-Regular.otf");
  }

html{
    position: relative;
}
body {
    margin: 0;
    font-family:  nta, Roboto,Helvetica,Arial,sans-serif; /* Roboto Condensed for titles  - sinon OpenDyslexic when I have the option */
    color: #5a5a5a; 
    min-height: 100%;
    position: relative;
    hr {
        margin: 1em 0 0.5em 0;
        border:0;
    } 
    p, ul, ol, em, a {
        font-size: 16px;
    }
    details  {
        p, ul, ol, em {
            margin: 0.5em 0;
            @media only screen and (min-width: 490px) { 
                font-size: 16px;
            }
        }  
    }
    summary{
        font-weight: 200;
        color: white;
        padding: 5px 25px 5px 1em;
        margin-bottom: 1em;
        background-color:#373737;
        width: 10em;
        @media only screen and (max-width: 489px) { 
            width: 90%;
         }
    }
}
body.home {
    header {
        background-color: $home-color;
    } 
    a, h1, h2, h3 {
        color: $home-color;
    }
    a:hover, a:focus {
        color: #5a5a5a;
    }
    a.button {
        background-color: $home-color;
        color: white;
    }
    a.button:hover, a.button:focus {
        color: $home-color;
        background-color: #ffffff;
        border: solid 2px $home-color;
    }
    hr {
        border-top: 1px solid $home-color;
    } 
    a.red {
        color : #C30918 ;
        font-weight: bold;
    }
    summary{
        @media only screen and (max-width: 489px) { 
            width: 90%;
         }
    }
    h2 {
        color: white;
        background-color: $home-color;
        font-weight: 300;
        text-align: center;
                @media only screen and (max-width: 489px) { 
            width: 100%;
         }
    }
}
body.ux {
    header {
        background-color: $ux-color;
    }
    a, h1, h2, h3 {
        color: $ux-color;
    }
    a:hover, a:focus {
        color: #5a5a5a;
    }
    a.button {
        background-color: $ux-color;
        color: white;
    }
    a.button:hover, a.button:focus {
        color: $ux-color;
        background-color: #ffffff;
        border: solid 2px $ux-color;
    }
    hr {
        border-top: 1px solid $ux-color;
    } 
    summary{
        width: 17em;
        @media only screen and (max-width: 489px) { 
            width: 90%;
         }
    }
    summary.ux-color {
        background-color: $ux-color;
    }
    h2 {
        color: white;
        background-color: $ux-color;
        font-weight: 300;
        text-align: center;
                @media only screen and (max-width: 489px) { 
            width: 100%;
         }
    }
}
body.sd {
    header {
        background-color: $sd-color;
    }
    a, h1, h2, h3 {
        color: $sd-color;
    }
    a:hover, a:focus {
        color: #5a5a5a;
    }
    a.button {
        background-color: $sd-color;
        color: white;
    }
    a.button:hover, a.button:focus {
        color: $sd-color;
        background-color: #ffffff;
        border: solid 2px $sd-color;
    }
    hr {
        border-top: 1px solid $sd-color;
    } 
    summary{
        width: 17em;
        @media only screen and (max-width: 489px) { 
            width: 90%;
         }
    }
    summary.sd-color {
        background-color: $sd-color;
    }
    h2 {
        color: white;
        background-color: $sd-color;
        font-weight: 300;
        text-align: center;
                @media only screen and (max-width: 489px) { 
            width: 100%;
         }
    }
}
body.a11y {
    header {
        background-color: $a11y-color;
    }
    a, h1, h2, h3  {
        color: $a11y-color;
    }
    a:hover, a:focus {
        color: #5a5a5a;
    }
    a.button {
        background-color: $a11y-color;
        color: white;
    }
    a.button:hover, a.button:focus {
        color: $a11y-color;
        background-color: #ffffff;
        border: solid 2px $a11y-color;
    }
    hr {
        border-top: 1px solid $a11y-color;
    } 
}

body.tech {
    header {
        background-color: $tech-color;
    }
    a, h1, h2, h3 {
        color: $tech-color;
    }
    span.other {
        color:$other-color;
    }
    a.other, h2.other {
        color:$other-color;
    }
    a:hover, a:focus {
        color: #5a5a5a;
    }
    a.button {
        background-color: $tech-color;
        color: white;
    }
    a.button:hover, a.button:focus {
        color: $tech-color;
        background-color: #ffffff;
        border: solid 2px $tech-color;
    }

    a.button-other {
        background-color: $other-color;
        color: white;
    }
    a.button-other:hover, a.button-other:focus {
        color: $other-color;
        background-color: #ffffff;
        border: solid 2px $other-color;
    }
    hr {
        border-top: 1px solid $tech-color;
    } 
    hr.other {
        border-top: 1px solid $other-color;
    } 
}

body.ur {
    header {
        background-color: $ur-color;
    }
    a, h1, h2, h3 {
        color: $ur-color;
    }
    a:hover, a:focus {
        color: #5a5a5a;
    }
    a.button {
        background-color: $ur-color;
        color: white;
    }
    a.button:hover, a.button:focus {
        color: $ur-color;
        background-color: #ffffff;
        border: solid 2px $ur-color;
    }
    hr {
        border-top: 1px solid $ur-color;
    } 
    summary{
        width: 17em;
        @media only screen and (max-width: 489px) { 
            width: 90%;
         }
    }
    summary.ur-color {
        background-color: $ur-color;
    }
    h2 {
        color: white;
        background-color: $ur-color;
        font-weight: 300;
        text-align: center;

    }
}
body.con {
    header {
        background-color: $con-color;
    }
    a, h1, h2, h3 {
        color: $con-color;
    }
    a:hover, a:focus {
        color: #5a5a5a;
    }
    a.button {
        background-color: $con-color;
        color: white;
    }
    a.button:hover, a.button:focus {
        color: $con-color;
        background-color: #ffffff;
        border: solid 2px $con-color;
    }
    hr {
        border-top: 1px solid $con-color;
    } 
    summary{
        width: 17em;
        @media only screen and (max-width: 489px) { 
            width: 90%;
         }
    }
    h2 {
        color: white;
        background-color: $con-color;
        font-weight: 300;
        text-align: center;

    }
}

body.dev {
    header {
        background-color: $dev-color;
    }
    a {
        color: $dev-color;
    }
    a:hover, a:focus {
        color: #5a5a5a;
    }
    a.button {
        background-color: $dev-color;
        color: white;
    }
    a.button:hover, a.button:focus {
        color: $dev-color;
        background-color: #ffffff;
        border: solid 2px $dev-color;
    }
    h1, h3 {
        color: $dev-color;
    }
    div {
        h2 {
            color: white;
            font-weight: 300;
            text-align: center; 
            text-transform: uppercase;
        }
    }
    summary {
        width: 17em;
        @media only screen and (max-width: 489px) { 
            width: 90%;
         }
    }
    div.js-color {
        h2 {
            background: $js-color;
        }
        h3 {
            color: $js-color;
        }
        a {
            color:$js-color;
        }
        a.button {
            background-color: $js-color;
            color: white;
        }
        a.button:hover, a.button:focus {
            color: $js-color;
            background-color: #ffffff;
            border: solid 2px $js-color;
        }
        hr {
            border-top: 1px solid $js-color;
        } 
    }
    div.css-color {
        h2 {
            background: $css-color;
        }
        h3 {
            color: $css-color;
        }
        a {
            color:$css-color;
        }
        a.button {
            background-color: $css-color;
            color: white;
        }
        a.button:hover, a.button:focus {
            color: $css-color;
            background-color: #ffffff;
            border: solid 2px $css-color;
        }
        hr {
            border-top: 1px solid $css-color;
        } 
    }
    div.dev-color {
        h2 {
            background: $dev-color;
        }
    }
    summary.css-color {
        background-color: $css-color;
    }
    summary.dev-color {
        background-color:  $dev-color;
    }
    summary.js-color {
        background-color: $js-color;
    }

    hr {
        border-top: 1px solid $dev-color;
    }     
    .inverted {
        background-color: $dev-color;
        color: white;
        font-weight: 400;
        padding: 5px 0;
        margin-top: 2em;
        text-align: center;
    }
}

p {
    padding-top: 0;
    padding-bottom: 0;
    text-align: justify;
    line-height: 1.5;
    font-weight: 400;
}

.lead {
    padding-top: 2em;
    font-weight:500;
    font-size: 18px;
    em {
        font-size: 18px;
        font-weight: 500;
    }
}
.red { 
color: red;
font-weight: 500;
}

.code {
    background-color: #eeeeee;
    padding: 5px 0;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    color: black;
    font-size: 14px;
    line-height: 1.5;
    ;
}

/* ----------------------------------------------  Banner  ---------------------------------------------- */

header {
    position: fixed;
    z-index: 1 ; /* so the body content scrolls under the sticky banner + navbar */
    top: 0;
    height: 50px;
    width: 100%;
    img {
        float: left;
        display: block;
        margin-top: 5px;
        margin-left: 5px;
        height: 40px;
        width : 40px;
    }
    h1 {
        font-size: 20px;
        text-align: left;
        padding-left: 70px; 
        font-family: nta, 'Roboto Condensed', Helvetica, Arial, sans-serif;
        font-weight: 300; 
    }
    h1.plain-color {
        color: #ffffff; // was #e3e3e3;
    }
}

/* ----------------------------------------------  Navbar  ---------------------------------------------- */

nav {
    position: fixed;
    z-index: 1 ; /* so the body content scrolls under the sticky banner + navbar */
    width: 100%;
    top: 50px;
    height: 40px;
    background-color: #e3e3e3 ;
    border-bottom: solid 4px #e3e3e3 ;
    a.ux-color, a.dev-color, a.a11y-color, a.tech-color, a.con-color, a.ur-color, a.sd-color {
        float: left;
        display: block;
        text-align: center;
        color: #373737;
        font-weight: 400 ;
        text-decoration: none;
        height: 16px;
        font-size: 16px;
        padding: 12px 10px;
        /* for bigger screens */
        @media only screen and (min-width: 455px) { 
            font-size: 18px;
            height: 20px ;
            padding: 10px 20px;
        }
         @media only screen and (min-width: 600px) { 
             font-size: 20px;
             height: 20px ;
             padding: 10px 30px;
         }
    }

    .on-the-page.dev-color,  .on-the-page.ux-color, .on-the-page.a11y-color, .on-the-page.tech-color, .on-the-page.con-color, .on-the-page.ur-color, .on-the-page.sd-color  {
        background-color: #373737;
        border-bottom: solid 4px #373737 ;
        color: #ffffff ; // was #e3e3e3; 
        font-weight: 300;
    }


    a.ux-color:hover, a.ux-color.focus {
        color: $ux-color;
        border-bottom: solid 4px $ux-color;
    }
    a.dev-color:hover, a.dev-color:focus {
        color: $dev-color;
        border-bottom: solid 4px $dev-color;
    }
    a.a11y-color:hover, a.a11y-color:focus {
        color: $a11y-color;
        border-bottom: solid 4px $a11y-color;
    }
    a.tech-color:hover, a.tech-color.focus {
        color: $tech-color;
        border-bottom: solid 4px $tech-color;
    }
    a.ur-color:hover, a.ur-color:focus {
        color: $ur-color;
        border-bottom: solid 4px $ur-color;
    }
    a.con-color:hover, a.con-color.focus {
        color: $con-color;
        border-bottom: solid 4px $con-color;
    }
    a.sd-color:hover, a.sd-color.focus {
        color: $sd-color;
        border-bottom: solid 4px $sd-color;
    }
}


/* ----------------------------------------------  Body of a page  ---------------------------------------------- */

main {
    position: relative;
    margin-top: 91px; /* size of banner  + navbar */
    margin-bottom: 40px; /* to leave some room above the footer */
    padding-left: 30px;
    padding-right: 30px;

   // this is to avoid the line of text to be too long to read on big screens. Max 1200px (as it's for me) and same white space on both side of it
    p, h1, h2, h3, ul, ol, details, hr {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        // avoid difference of spacing between words while reading which can be a strain on the eye
        text-align: left;
    }

    h1 {
        font-size: 20px;
        padding-top: 2em;
        text-transform: uppercase;
        @media only screen and (min-width: 490px) {
            font-size: 22px;
        }
    }
    h2, h3 { // h3 is the same a h2 - but only used in UX where h2 is different
        font-size: 18px;
        padding: 0.4em 0 0.2em 0;
        @media only screen and (min-width: 490px) {
            font-size: 20px;
        }
    }
    ul, ol {
        line-height: 1.5;
    }
    a.plain-color { 
        color: #5a5a5a; 
        font-weight: 500;
        text-decoration: underline #aaaaaa;
    }
    a.plain-color:hover, a.plain-color:focus {
        color: #aaaaaa;
    }

    .icon {
        vertical-align: top;
        height: 40px;
        padding: 5px 10px 5px 0;
    }
    .icon-big {
        vertical-align: top;
        height: 80px;
        padding: 5px 10px 5px 0;

    }
    .icon-very-big {
        vertical-align: top;
        height: 120px;
        padding: 5px 10px 5px 0;

    }
    ::selection {
        background: #cccccc;
        color: #1a1a1a;
    }
}


/* for details pattern for IE  from GOV.UK */

details {
    display: block;
    clear: both;
    border-left-width: 5px;
  }

  details summary {
    //display: inline-block;
    cursor: pointer;
    position: relative;
    margin-bottom: 0.26316em;
  }

  details .arrow {
    margin-right: .35em;
    font-style: normal;
  }
/* hacks for the details patterns: https://www.ryadel.com/en/css3-media-query-target-only-ie-ie6-ie11-firefox-chrome-safari-edge/#Microsoft_Edge */
/*   IE 10 and above */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    details {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    summary {
        width: 17em;
        @media only screen and (max-width: 489px) { 
            width: 90%;
         }
    }
 }
/* for Edge */
@supports (-ms-ime-align:auto) {
    details {
            margin-top: 20px;
            margin-bottom: 20px;
          
    }
    summary {
        width: 17em;
        @media only screen and (max-width: 489px) { 
            width: 90%;
         }
    }
}
/* ----------------------------------------------  Footer  ---------------------------------------------- */

footer {
    height: 30px;
    padding: 10px;
    background-color: #373737;
    color: #ffffff;
    @media only screen and (min-width: 490px) {
        padding: 10px 0 10px 20px;
    } 
    

    .icon {
        height: 27px;
        width: 27px;
        @media only screen and (min-width: 490px) {
            height: 30px;
            width: 30px;
        } 
    }
    a {
        padding: 0 3px;
        font-weight: 500;
        text-decoration: none;
    }
    @media only screen and (min-width: 490px) {
        padding: 10px 0 10px 40px;
    }
    a.home-style {
        color: $home-color;
        padding: 5px;
        border: solid 1px $home-color;
    }
    a.ux-style {
        color: $ux-color;
        padding: 5px;
        border: solid 1px $ux-color;
    }
    a.dev-style {
        color: $dev-color;
        padding: 5px;
        border: solid 1px $dev-color;
    }
    a.a11y-style {
        color: $a11y-color;
        padding: 5px;
        border: solid 1px $a11y-color;
    }
    a.tech-style {
        color: $tech-color;
        padding: 5px;
        border: solid 1px $tech-color;
    }
    a.ur-style {
        color: $ur-color;
        padding: 5px;
        border: solid 1px $ur-color;
    }
    a.con-style {
        color: $con-color;
        padding: 5px;
        border: solid 1px $con-color;
    }
    a.sd-style {
        color: $sd-color;
        padding: 5px;
        border: solid 1px $sd-color;
    }
}
.to-right {
    float: right;
    margin-right: 10px;
    @media only screen and (min-width: 490px) {
        margin-right: 40px;
    } 
}

.clearfix::after { // to avoid element with to-right to overflow outside a container
    content: "";
    clear: both;
    display: table;
  }

/* ----------------------------------------------  Helpers  ---------------------------------------------- */

.img-mobile-screen {
    height: 400px;
    padding-right: 40px;
}
.img-one-tenth-width {
    vertical-align: top;
    width: 10%;
    @media only screen and (max-width: 489px) { 
        width: 100%;
    }
}
.img-one-quarter-width {
    vertical-align: top;
    width: 24%;
    @media only screen and (max-width: 489px) { 
        width: 100%;
    }
}
.img-one-third-width {
    vertical-align: top;
    width: 32%;
    @media only screen and (max-width: 489px) { 
        width: 100%;
    }
}
.img-half-width {
    vertical-align: top;
    width: 49%;
    @media only screen and (max-width: 489px) { 
        width: 100%;
    }
}
.img-two-thirds-width {
    vertical-align: top;
    width: 65%;
    @media only screen and (max-width: 489px) { 
        width: 100%;
    }
}
.img-three-quarters-width {
    vertical-align: top;
    width: 74%;
    @media only screen and (max-width: 489px) { 
        width: 100%;
    }
}
.img-full-width {
    vertical-align: top;
    width: 100%;
}

iframe, video {
    @media only screen and (max-width: 550px) {
        width: 100%;
    }
}

a.button {
    //color : #ffffff;
    text-transform: uppercase;
    padding: 5px 7px;
    text-decoration: none;
    ::selection {
        background: #ffffff;
        color: #5a5a5a;
    }
}
a.button:hover, a.button:focus {
    //background-color: #ffffff;
    padding: 3px 5px;
    ::selection {
        background: #ffffff;
        color: #5a5a5a;
    }
}
p a.button {
    font-size: 14px;
}

.warning  {
    color : #ffffff;
    background-color: #C30918;
    padding: 2px 4px;
    font-weight: 400;
    margin-right: 8px;
    text-transform: uppercase;
}

.margin-top-1 {
    margin-top: 1em;
}
.margin-top-2 {
    margin-top: 2em;
}

